root = true

[*]
# actually my preference would be "tabs", but 4 spaces seemed to be used most commonly in *.ts
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
# actually my preference would be true, but so far trimming hasn't been done everywhere
trim_trailing_whitespace = false
# actually my preference would be true, but it seemed that final newline isn't used in this project
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false

[gulpfile.js]
indent_style = space
indent_size = 4
